# name: benchmark_statistic_build/CountMinBuild.test
# description: Benchmark for count min sketch build operator over Nexmark bid data
# groups: [benchmark, large, Synopsis, Aggregation]

CREATE LOGICAL SOURCE bid(timestamp UINT64 NOT NULL, auctionId INT32 NOT NULL, bidder INT32 NOT NULL, price FLOAT64 NOT NULL);
CREATE PHYSICAL SOURCE FOR bid TYPE Memory;
ATTACH FILE large/nexmark/bid_6GB.csv

SELECT COUNTMINSKETCH(300, price, {columns}, {rows}, {counter_type}, 42) FROM bid WINDOW TUMBLING(timestamp, size 10 sec) INTO Void();
----
