# name: benchmark_statistic_build/HistogramBuild.test
# description: Benchmark for equiwidth histogram build operator over Nexmark bid data
# groups: [benchmark, large, Synopsis, Aggregation]

CREATE LOGICAL SOURCE bid(timestamp UINT64, auctionId INT32, bidder INT32, price FLOAT64);
CREATE PHYSICAL SOURCE FOR bid TYPE Memory;
ATTACH FILE large/nexmark/bid_6GB.csv

SELECT EQUIWIDTHHISTOGRAM(200, price, {num_buckets}, {min_value}, {max_value}, {counter_type}) FROM bid WINDOW TUMBLING(timestamp, size 10 sec) INTO Discard();
----
