# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

query: SELECT * FROM build_source INTO void_sink;
sinks:
  - name: void_sink
    host: localhost:8080
    schema:
      - name: build_source$creationTS
        type: UINT64
        nullable: false
      - name: build_source$jobId
        type: UINT64
        nullable: false
      - name: build_source$taskId
        type: UINT64
        nullable: false
      - name: build_source$machineId
        type: INT64
        nullable: false
      - name: build_source$eventType
        type: INT16
        nullable: false
      - name: build_source$userId
        type: INT16
        nullable: false
      - name: build_source$category
        type: INT16
        nullable: false
      - name: build_source$priority
        type: INT16
        nullable: false
      - name: build_source$cpu
        type: FLOAT64
        nullable: false
      - name: build_source$ram
        type: FLOAT64
        nullable: false
      - name: build_source$disk
        type: FLOAT64
        nullable: false
      - name: build_source$constraints
        type: BOOLEAN
        nullable: false
    type: Void
    config: {{ }}
    parser_config: {{ }}
logical:
  - name: build_source
    schema:
      - name: creationTS
        type: UINT64
        nullable: false
      - name: jobId
        type: UINT64
        nullable: false
      - name: taskId
        type: UINT64
        nullable: false
      - name: machineId
        type: INT64
        nullable: false
      - name: eventType
        type: INT16
        nullable: false
      - name: userId
        type: INT16
        nullable: false
      - name: category
        type: INT16
        nullable: false
      - name: priority
        type: INT16
        nullable: false
      - name: cpu
        type: FLOAT64
        nullable: false
      - name: ram
        type: FLOAT64
        nullable: false
      - name: disk
        type: FLOAT64
        nullable: false
      - name: constraints
        type: BOOLEAN
        nullable: false
physical:
  - logical: build_source
    host: localhost:8080
    type: Memory
    parser_config:
      type: Native
    source_config:
      file_path: {build_dataset_path}
workers:
  - host: localhost:8080
    data_address: localhost:9090
