name: 23 Hour Stress Test
on:
  workflow_call:
    inputs:
      ref:
        type: string
        required: true
        description: "ref of the branch"
      dev_image_tag:
        required: true
        type: string
        description: "Docker image tag of the benchmarking image"

concurrency:
  group: stress-test-23h
  cancel-in-progress: true

jobs:
  stress-test-23h:
    name: "Run a 23h stress test"
    container:
      image: nebulastream/nes-development:${{ inputs.dev_image_tag }}
      volumes:
        - ccache:/ccache
        - test-file-cache:/test-file-cache
      env:
        CCACHE_DIR: /ccache
        MOLD_JOBS: 1
      # TODO #401 Investigate rootless docker containers
      options: --user root
    timeout-minutes: 1440 # 24 hours
    runs-on: [ self-hosted, linux, Build]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - name: Configure NebulaStream
        run: |
          cmake -GNinja -B build -DExternalData_OBJECT_STORES=/test-file-cache -DNES_LOG_LEVEL=DEBUG
      - name: Build NebulaStream
        run: cmake --build build -j -- -k 0
      - name: Run Test
        run: |
          build/nes-systests/systest/systest -g StressTest --systestExtension .nightly
    
